<!DOCTYPE html>
<html ng-app="top2000">
<head>
	<link href='https://fonts.googleapis.com/css?family=Sintony:400,700' rel='stylesheet' type='text/css'>
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<style>

		@keyframes bgfx {
    		0% {
				background-size: 100%;
			}

    		100% {
				background-size: 25%;
			}
		}


	    html, body
	    {
	        height: 100%;
	        margin: 0;
	    }

	    body
	    {
	        font-family: 'Sintony', sans-serif;
	        background-repeat: repeat;
			background-position: center center;
	        background-size: contain;
	        display: -webkit-box;
	        display: -moz-box;
	        display: -ms-flexbox;
	        display: -webkit-flex;
	        display: flex;
	        flex-direction: column;

            mix-blend-mode: luminosity;
            color: #ffffff;

			/* animation: bgfx 200s linear 0s infinite; */
	    }

		h1 {
			font-size: 3em;
			margin: 0;
            padding-left: 6%;
            padding-top: 6%;
		}


		h2 {
			font-size: 2em;
			margin: 0;
            padding-left: 6%;
		}

	    h5
	    {
            margin: 4px;
            font-size: large;
	    }

		div.meta {
			margin-top: 1em;
            padding-left: 6%;
		}

		a {
			color: #ffffff;
		}

		a.fa {
			text-decoration: none;
		}

	    .fxbg
	    {
            background-color: rgba(0,0,0,0.3);
	    }

		span.songposition.up i.icon:before{
			content: "\f063";
		}
		span.songposition.down i.icon:before{
			content: "\f063";
		}

	    div.playlists
	    {
            display: -webkit-box;
	        display: -moz-box;
	        display: -ms-flexbox;
	        display: -webkit-flex;
	        display: flex;

            flex-direction: row;

			padding: 0 6% 6% 6%;
	    }

		div.recently,
        div.upcoming {
            flex-grow: 1;
            padding-left: 10px;
		}

	    div.track
	    {
            padding: 3px;
	    }

	    div#profile
	    {
            position: absolute;
            top: 0;
            right: 0;
            font-size:x-small;
            margin: 10px;
	    }

	    div#countdown
	    {
            width: 100%;
            height: 3px;
            background-color: #ffffff;
	    }
	</style>

	<title>Radio 2</title>
</head>
<body ng-controller="ticker" back-img="cover" ng-cloak>
    <div id="profile" class="fxbg"><a href="https://www.kevinvanblokland.nl">by Kevin van Blokland</a></div>

	<h1>
		<span class="fxbg" style="display:inline-block">
            <span ng-bind="title"></span> <span ng-if="track.yr">({{track.yr}})</span>
            <div id="countdown"></div>
        </span>
	</h1>

	<h2><span class="fxbg" ng-bind="artist"></span></h2>

	<div class="meta">
        <div ng-if="duration">
            <span class="fxbg">duration: <span ng-bind="duration | date:'mm:ss'"></span></span>
        </div>

		<div ng-if="track.pos">
            <span class="fxbg">
			    <span>position: {{track.pos}}</span>
		
			    <span ng-if="track.prv" class="songposition" ng-class="track.prv > track.pos ? 'up' : 'down'" title="Previous position was {{track.prv}}">
				    <i class="fa icon"></i>
				    <i>{{track.prv - track.pos | abs}}</i>
			    </span>
            </span>
		</div>
	</div>

    <div style="flex-grow: 1;"></div>

    <div class="playlists">
        <div class="upcoming" ng-if="upcoming">
		    <h5><span class="fxbg">Upcoming:</span></h5>
		    <div ng-repeat="track in upcoming">
			    <div class="track">
                    <span class="fxbg">
				        <span class="position">{{track.pos}}</span>
				        <span class="artist">{{track.a}}</span> - 
				        <span class="title">{{track.s}}</span>
                    </span>
			    </div>
		    </div>
	    </div>

	    <div class="recently" ng-if="recent">
		    <h5><span class="fxbg">Recently played:</span></h5>
		    <div ng-repeat="track in recent">
			    <div class="track">
                    <span class="fxbg">
				        <span class="time">{{track.startdatetime | date:'HH:mm'}}</span>
				        <span class="artist">{{track.artist}}</span> - 
				        <span class="title">{{track.title}}</span>
                    </span>
			    </div>
		    </div>
	    </div>
    </div>
	<script src="//www.gstatic.com/cast/sdk/libs/receiver/2.0.0/cast_receiver.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
	<script src="https://cdn.jsdelivr.net/lodash/4.17.3/lodash.min.js"></script>
	<script src="ng-chrome-cast-channel.js"></script>
	<script src="cast.js"></script>
	
	<!-- include google analytics -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-89465211-1', 'auto');
  		ga('send', 'pageview');
	</script>
</body>

</html>
