<!DOCTYPE html>
<html ng-app="top2000">
<head>
	<link href='https://fonts.googleapis.com/css?family=Sintony:400,700' rel='stylesheet' type='text/css'>
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<style>

	    html, body
	    {
	        height: 100%;
	        margin: 0;
	    }

	    body
	    {
	        font-family: 'Sintony', sans-serif;
	        background-repeat: no-repeat;
	        background-size: cover;
	        background-position: center center;
	        /*text-shadow: -1px 0 rgba(255,255,255,0.5), 0 1px rgba(255,255,255,0.5), 1px 0 rgba(255,255,255,0.5), 0 -1px rgba(255,255,255,0.5);*/
	        display: -webkit-box;
	        display: -moz-box;
	        display: -ms-flexbox;
	        display: -webkit-flex;
	        display: flex;
	        flex-direction: column;

            mix-blend-mode: luminosity;
            color: #ffffff;
	    }

		h1 {
			font-size: 3em;
			margin: 0;
            padding-left: 10px;
            padding-top: 10px;
		}


		h2 {
			font-size: 2em;
			margin: 0;
            padding-left: 10px;
		}

	    h5
	    {
            margin: 4px;
            font-size: large;
	    }

		div.meta {
			margin-top: 1em;
            padding-left: 10px;
		}

		div.media {
			margin-top: 1em;
            padding-left: 10px;
		}

		a {
			color: #ffffff;
		}

		a.fa {
			text-decoration: none;
		}

	    .fxbg
	    {
            background-color: rgba(0,0,0,0.3);
	    }

		.fxbg2
	    {
            background-color: rgba(0,0,0,0.8);
	    }

		span.songposition.risen i.icon:before{
			content: "\f062";
		}
		span.songposition.fallen i.icon:before{
			content: "\f063";
		}
		span.songposition.new i.icon:before{
			content: "\f005";
		}
		span.songposition.stale i.icon:before{
			content: "\f111";
		}

		div.media a {
			padding: 4px;
		}

	    div.playlists
	    {
            display: -webkit-box;
	        display: -moz-box;
	        display: -ms-flexbox;
	        display: -webkit-flex;
	        display: flex;

            flex-direction: row;
	    }

		div.recently,
        div.upcoming {
            flex-grow: 1;
            padding-left: 10px;
		}

	    div.track
	    {
            padding: 3px;
	    }

	    div#profile
	    {
            position: absolute;
            top: 0;
            right: 0;
            font-size:x-small;
            margin: 10px;
	    }

	    div#countdown
	    {
            width: 100%;
            height: 3px;
            background-color: #ffffff;
	    }
	</style>

	<style>

		.searchwidget {
			position: absolute;
			display: inline-block;
			margin-left: 10px;
		}

		div.scroller {
			max-height: 300px;
			overflow-y: auto;
		}

		ul {
			list-style: none;
			padding: 0;
			margin: 0;
		}

		input {
			width: 200px;
			display: block;
			border: none;
			padding: 10px 0;
			border-bottom: solid 2px #ffffff;
			-webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
			transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
			color: #ffffff;
			background: transparent;
			outline: none;
		}

		input.ng-hide {
			width: 0;
			display: inline-block !important;
		}

		::-webkit-input-placeholder { /* WebKit, Blink, Edge */
			color:    #ffffff;
			opacity: 1;
		}
		:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
			color:    #ffffff;
			opacity:  1;
		}
		::-moz-placeholder { /* Mozilla Firefox 19+ */
			color:    #ffffff;
			opacity:  1;
		}
		:-ms-input-placeholder { /* Internet Explorer 10-11 */
			color:    #ffffff;
			opacity: 1;
		}
	</style>

	<title>Radio 2</title>
</head>
<body ng-controller="ticker" back-img="cover" ng-cloak ng-dblclick="toggleBackground();">
    <div id="profile" class="fxbg"><a href="https://www.kevinvanblokland.nl">by Kevin van Blokland</a></div>

	<h1>
		<span class="fxbg" style="display:inline-block">
            <span ng-bind="title"></span> <span ng-if="track.yr">({{track.yr}})</span>
            <div id="countdown"></div>
        </span>
	</h1>

	<h2><span class="fxbg" ng-bind="artist"></span></h2>

	<div class="meta">
        <div ng-if="duration">
            <span class="fxbg">duration: <span ng-bind="duration | date:'mm:ss'"></span></span>
        </div>

		<div ng-if="track.position.current">
            <span class="fxbg">
			    <span>position: {{track.position.current}}</span>
		
			    <span ng-if="track.position" class="songposition" ng-class="track.position.type" title="Previous position was {{track.position.previous}}">
				    <i class="fa icon"></i>
				    <i>{{track.position.label}}</i>
			    </span>
            </span>
		</div>
	</div>

	<div class="media">
        <span class="fxbg">
		    <a href="#" ng-click="startstream()" class="fa fa-play"></a>
		    <a href="#" ng-click="stopstream()" class="fa fa-stop"></a>
		    <a href="#" ng-click="volumeUp()" class="fa fa-volume-up"></a>
		    <a href="#" ng-click="volumeDown()" class="fa fa-volume-down"></a>
			<a href="#" ng-click="showsearch = !showsearch" class="fa fa-search"></a>
			<div class="searchwidget fxbg2">
				<input ng-model="searchterm" type="text" class="ng-hide-animate" placeholder="Search" ng-show="showsearch"></input>
				<div class="scroller" ng-show="showsearch">
					<ul>
						<li ng-repeat="track in search(searchterm)">
							<div class="track">
								<span>
									<span class="position">{{track.position.current}}</span>
									<span class="artist">{{track.track.artist}}</span> - 
									<span class="title">{{track.track.title}}</span>
									<!-- <span class="year">({{track.yr}})</span> -->

									<span ng-if="track.position" class="songposition" ng-class="track.position.type" title="Previous position was {{track.position.previous}}">
										<i class="fa icon"></i>
										<i>{{track.position.label}}</i>
									</span>
								</span>
							</div>
						</li>	
					</ul>
				</div>
			</div>
        </span>
	</div>

    <div style="flex-grow: 1;"></div>

    <div class="playlists">
        <div class="upcoming" ng-if="upcoming">
		    <h5><span class="fxbg">Upcoming:</span></h5>
		    <div ng-repeat="track in upcoming">
			    <div class="track">
                    <span class="fxbg">
				        <span class="position">{{track.position.current}}</span>
				        <span class="artist">{{track.track.artist}}</span> - 
				        <span class="title">{{track.track.title}}</span>
                    </span>
			    </div>
		    </div>
	    </div>

	    <div class="recently" ng-if="recent">
		    <h5><span class="fxbg">Recently played:</span></h5>
		    <div ng-repeat="track in recent">
			    <div class="track">
                    <span class="fxbg">
				        <span class="time">{{track.startdatetime | date:'HH:mm'}}</span>
				        <span class="artist">{{track.artist}}</span> - 
				        <span class="title">{{track.title}}</span>
                    </span>
			    </div>
		    </div>
	    </div>
	</div>
	
    <!-- include angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
	<script src="https://cdn.jsdelivr.net/lodash/4.17.3/lodash.min.js"></script>
    <script src="app.js"></script>
	
	<!-- include google analytics -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-89465211-1', 'auto');
  		ga('send', 'pageview');
	</script>
</body>

</html>
